{% from '_macros.html' import render_field_with_errors with context %}
{% extends "base.html"%}
{% block title %}
Register new user
{% endblock %}



{% block content %}

{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}

<div class="content"> 
    <h2>Register new user</h2>
    <form action="" class="form-group" method="POST">
         {{form.csrf_token}}

         {{render_field_with_errors(form.email, class='form-control')}}
         {{render_field_with_errors(form.password, class='form-control')}}
         {{render_field_with_errors(form.confirm, class='form-control')}}
         {{render_field_with_errors(form.roles, class='form-control')}}
         {{render_field_with_errors(form.submit, class='btn')}}
      
    </form>
</div>
{% endblock %} 
